<form [formGroup]="form" class="form" #formDirective="ngForm">
	<div class="header">Create a new contact</div>
	<div class="flex-row flex-wrap controls-wrapper">
		<mat-form-field class="form-control-group flex-1" appearance="outline">
			<mat-label>First name</mat-label>
			<input type="text" matInput formControlName="firstName" required>
		</mat-form-field>
		<mat-form-field class="form-control-group flex-1" appearance="outline">
			<mat-label>Last name</mat-label>
			<input type="text" matInput formControlName="lastName" required>
		</mat-form-field>
	</div>
	<div class="flex-row flex-wrap controls-wrapper">
		<mat-form-field class="form-control-group flex-1" appearance="outline">
			<mat-label>Email</mat-label>
			<input type="text" matInput formControlName="email" required>
		</mat-form-field>
	</div>
	<div class="flex-row flex-wrap controls-wrapper">
		<mat-form-field class="form-control-group flex-1" appearance="outline">
			<mat-label>Phone</mat-label>
			<input type="text" matInput formControlName="phone">
		</mat-form-field>
	</div>
	<div class="flex-row flex-wrap flex-justify-content-end controls-wrapper buttons-container">
		<button mat-button class="ec-button" (click)="cancel()">Cancel</button>
		<button mat-button class="ec-button primary" [disabled]="form.invalid" *ngIf="!editMode" (click)="addContact(formDirective)">Add</button>
		<button mat-button class="ec-button primary" [disabled]="form.invalid || form.pristine" *ngIf="editMode" (click)="saveEditedContact(formDirective)">Save</button>
	</div>
</form>