<div class="main-container">
	<div [hidden]="contacts.length > 0 || this.loadingContacts" class="no-contact-msg">
		<div>Looks like you don't have any contact yet. </div>
		<div><a class="ec-hyperlink" routerLink="/add-contacts">Add your first contact here.</a></div>
	</div>
	<div class="view-contact-container">
		<form [formGroup]="form" [hidden]="contacts.length === 0">
			<div class="search-input-wrapper">
				<input type="text" class="search-control" placeholder="&#xf002; Search" formControlName="searchQuery">
			</div>
		</form>
		<ng-container *ngIf="(contacts | searchFilter: searchQuery) as result">
			<!-- Loader/spinner -->
			<div class="spinner-wrapper" *ngIf="loadingContacts">
				<div class="la-ball-spin-fade-rotating la-2x">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
			<div *ngIf="!loadingContacts && !loadingFavouriteContacts && result && result.length === 0 && contacts.length > 0">
				<app-no-listing-results></app-no-listing-results>
			</div>
			<ng-container *ngIf="result && result.length > 0">
				<div class="contact-header" [hidden]="favouriteContacts.length === 0">Favourite&nbsp;<span>({{ favouriteContacts.length }})</span></div>
				<app-contact-card
					*ngFor="let contact of result | categoryFilter: {filterProperty: 'favourite', filterValue: true}; trackBy: trackByFn;"
					[contact]="contact">
				</app-contact-card>
				<div class="contact-header">Contacts&nbsp;<span>({{ contacts.length - favouriteContacts.length }})</span></div>
				<app-contact-card
					*ngFor="let contact of result | categoryFilter: {filterProperty: 'favourite', filterValue: false}; trackBy: trackByFn;"
					[contact]="contact">
				</app-contact-card>
			</ng-container>
		</ng-container>
	</div>
	<button mat-fab color="primary" class="add-contact-button" (click)="navigateToAddContact()">
		<i class="fas fa-plus icon"></i>
	</button>
</div>