.main-container {
	width: 100%;
	padding: 25px 15px 15px;
}

.add-contact-button {
	position: fixed;
	bottom: 20px;
	right: 20px;

	.icon {
		font-size: 1.35em;
	}
}

.no-contact-msg {
	text-align: center;
}