.main-container {
	width: 100%;
	padding: 25px 15px 15px;
}

.add-contact-button {
	position: fixed;
	bottom: 20px;
	right: 20px;

	.icon {
		font-size: 1.35em;
	}
}

.no-contact-msg {
	text-align: center;
}

.contact-card {
	padding: 15px 30px 15px;
	position: relative;
	transition: background 200ms ease-in-out;

	.menu-wrapper .fav-icon {
		font-size: 1.2em;
		padding: 7px;
		display: none;
		color: #535353;
		cursor: pointer;
	}

	.menu-wrapper .fav-icon.selected {
		color: #ffd700;
	}
}
.contact-card:hover {
	background: #eee;

	.menu-wrapper .fav-icon {
		display: initial;
	}
	.menu-wrapper .fav-icon:hover {
		color: #212529;
	}
	.menu-wrapper .fav-icon.selected:hover {
		color: #f7b500;
	}
}

.initials-wrapper {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	border: 1px solid #949faa;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1.25;
	background: #b2b5b9;
	box-shadow: 0 0 3px rgba(0,0,0,.45);

	.initials {
		color: #fff;
		font-size: 1.25em;
		font-family: monospace;
	}
}

.mobile-spacer {
	display: none;
}

.email-value,
.phone-value,
.name {
	padding: 0 15px;
}

.name {
	width: 170px;
}

.sub-info {
	font-size: .88em;
	display: flex;
}

.email-value,
.phone-value {
	width: 180px;
}

.search-input-wrapper {
	margin-bottom: 20px;
}

.search-control {
	font-family: "FontAwesome", Roboto,"Helvetica Neue",sans-serif;
	display: block;
	width: 100%;
	padding: .75rem 1.125rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #2a2a2a;
	background-color: #fff;
	background-clip: padding-box;
	border: 2px solid #dadfe6;
	border-radius: .375rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	outline: none;
}
.search-control:focus {
	border: 2px solid #40dc7e;
	background-color: #fff;
	box-shadow: none;
}

.menu-list {
	position: absolute;
	right: 10px;
	top: 0;
	bottom: 0;
}

@media(max-width: 575px) {
	.mobile-spacer {
		display: initial;
	}

	.sub-info {
		flex-direction: column;
	}

	.email-value,
	.phone-value {
		width: 110px;
	}
}

@media(max-width: 479px) {
	.sub-info {
		display: none;
	}
}