<div class="contact-card flex-row flex-wrap" (click)="triggerDialog(false, contact)">
	<div class="initials-wrapper">
		<pre class="initials">{{ getInitials(contact) }}</pre>
	</div>
	<div class="flex-row flex-align-items-center name" matTooltip="{{ contact.firstName }} {{ contact.lastName }}"
		matTooltipClass="ec-tooltip">{{ contact.firstName }} {{ contact.lastName }}</div>
	<div class="flex-1 mobile-spacer"></div>
	<div class="sub-info">
		<div class="flex-1 flex-align-items-center flex-justify-content-center flex-row">
			<div><i class="fal fa-envelope fw"></i></div>
			<div class="email-value truncate-text" matTooltip="{{ contact.email | nullConverter }}"
				matTooltipClass="ec-tooltip">{{ contact.email | nullConverter }}</div>
		</div>
		<div class="flex-1 flex-align-items-center flex-justify-content-center flex-row">
			<div><i class="fal fa-phone fw"></i></div>
			<div class="phone-value truncate-text" matTooltip="{{ contact.phone | nullConverter }}"
				matTooltipClass="ec-tooltip">{{ contact.phone | nullConverter }}</div>
		</div>
	</div>
	<div class="menu-list flex-row flex-align-items-center">
		<div class="menu-wrapper fav" [ngClass]="{'hidden': contact.favourite}" [hidden]="contact.favourite" (click)="toggleFavourite(contact)" click-stop-propagation>
			<i class="far fa-star fw fav-icon"></i>
		</div>
		<div class="menu-wrapper fav" [ngClass]="{'hidden': !contact.favourite}" [hidden]="!contact.favourite" (click)="toggleFavourite(contact)" click-stop-propagation>
			<i class="fas fa-star fw fav-icon selected"></i>
		</div>
		<div class="menu-wrapper edit" (click)="triggerDialog(true, contact)" click-stop-propagation>
			<i class="fad fa-pencil fw edit-icon"></i>
		</div>
		<div class="menu-wrapper delete" (click)="deleteContact(contact)" click-stop-propagation>
			<i class="fad fa-trash fw delete-icon"></i>
		</div>
	</div>
</div>