.contact-card {
	padding: 15px 100px 15px 15px;
	position: relative;
	transition: background 200ms ease-in-out;
	cursor: pointer;

	.menu-wrapper {
		width: 36px;
		height: 36px;
		text-align: center;
	}
	.menu-wrapper .fav-icon,
	.menu-wrapper .edit-icon,
	.menu-wrapper .delete-icon {
		font-size: 1.2em;
		padding: 7px;
		display: none;
		color: #5d5d5d;
		cursor: pointer;
		line-height: 36px;
	}

	.menu-wrapper .fav-icon.selected {
		color: #ffd700;
	}
}
.contact-card:hover {
	background: #f6f6f6;

	// .menu-wrapper:hover {
	// 	background: #e9e9e9;
	// }

	.menu-wrapper .fav-icon,
	.menu-wrapper .edit-icon,
	.menu-wrapper .delete-icon {
		display: initial;
	}

	.menu-wrapper .fav-icon:hover {
		color: #f7b500;

		&:hover {
			background: rgba(247, 181, 0, 0.1);
		}
	}
	.menu-wrapper .fav-icon.selected:hover {
		color: #f7b500;

		&:hover {
			background: rgba(247, 181, 0, 0.1);
		}
	}
	.menu-wrapper .edit-icon:hover{
		color: #1373e0;

		&:hover {
			background: rgba(19, 115, 224, 0.1);
		}
	}
	.menu-wrapper .delete-icon:hover {
		color: #e71a1a;

		&:hover {
			background: rgba(231, 26, 26, 0.1);
		}
	}
}

.sub-info {
	font-size: .88em;
	display: flex;
}

.menu-list {
	position: absolute;
	right: 10px;
	top: 0;
	bottom: 0;
}

.mobile-spacer {
	display: none;
}

.email-value,
.phone-value,
.name {
	padding: 0 15px;
}

.name {
	width: 170px;
}

.email-value,
.phone-value {
	width: 180px;
}

.initials-wrapper {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	border: 1px solid #949faa;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1.25;
	background: #b2b5b9;
	box-shadow: 0 0 3px rgba(0,0,0,.45);

	.initials {
		color: #fff;
		font-size: 1.25em;
		font-family: monospace;
	}
}

@media(max-width: 575px) {
	.mobile-spacer {
		display: initial;
	}

	.sub-info {
		flex-direction: column;
	}

	.email-value,
	.phone-value {
		width: 110px;
	}
}

@media(max-width: 479px) {
	.sub-info {
		display: none;
	}
}