/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;	color: #212529; font-weight: 400; font-size: 16px; }

.flex-row {
	display: flex;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-align-items-center {
	align-items: center;
}
.flex-justify-content-center {
	justify-content: center;
}
.flex-justify-content-end {
	justify-content: flex-end;
}
.flex-1 {
	flex: 1
}
a.ec-hyperlink {
	color: #1a73e8;
  text-decoration: none;
  outline: none;
}
a.ec-hyperlink:hover {
  color: #1a73e8;
	text-decoration: underline;
}
a.ec-hyperlink:focus {
  color: #1a73e8;
  outline: none;
}

.form-control-group {
	font-family: 'Roboto', sans-serif;
	margin: 0 10px;
}

button.ec-button {
	text-transform: uppercase;
	outline: none;
	transition: background-color 350ms ease-out, color 350ms ease-out;
	border-radius: 4px;
	color: #006be6;
	min-width: 120px;
}
button.ec-button.primary {
	color: #fff;
	background-color: #006be6;
}

button.ec-button:disabled,
button.ec-button.primary:disabled {
	cursor: not-allowed;
	color: #b1b1b1;
	background-color: #e7e7e7;
}

.header {
	font-size: 1.15em;
	font-weight: 500;
	line-height: 1.5rem;
	margin: 5px 0 7px;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-tooltip.ec-tooltip {
	font-size: 12px;
}

.spinner-wrapper {
	width: 100%;
	min-height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;

	.la-ball-spin-fade-rotating {
		color: #673ab7;
	}
}

@media(max-width: 575px) {
	button.ec-button {
		display: block;
		width: 100%;
	}

	.ec-dialog {
    width: 100vw;
    height: 100vh;
    max-width: 100vw !important;
    max-height: 100vh;
  }
}
